aiofiles
aria2p
beautifulsoup4
cfscrape
cryptg
googletrans
google_images_download
gtts
psycopg2
pySmartDL
python-barcode
python-magic
qrcode
regex
requests
selenium
sqlalchemy
urbandict
wikipedia
youtube-dl
httplib2
